{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": "*.prettierc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
